/* hero background image */
.navbar{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: #1a1a1a;
}
.navbar-nav{
    list-style: none;
    display: flex;
}
.nav-item a{
    color: #fff;
    opacity: 1;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    margin: 0 20px;
    line-height: 80px;
    transition: .5s;
    font-size: 20px;
}
.bgimage {
    height:100vh;
    background: url('images/background.png');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
    opacity: 0.8;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* about section image css */
.imageAboutPage {
    width: 300;
    height: 430;
    margin: 0px 40px 0px 0px;
    float: left;
}



.skills{
    margin: 150px 40px 0px 0px;
}

.contact-section{
    top: 0;
    transition: 1s;
    padding: 100px 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.imageContactPage{
    width: 370;
    height: 480;
    margin-top: 50px;

}

#msg{
    height: 280px;
    width: 500px;
    font-family: sans-serif;
}

body{
    background-color: #A8CABA;
}

.about-container{
    padding: 50px;
    margin-top: 100px;
    padding-right: 50px;
    background-color: #091e22;
    height: 600px;
}

.contact-section{
    padding-top: 100px;
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #091e22;
    height: 500px;
}

.container-skills{
    padding-top: 1px;
    margin-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #091e22;
    height: 600px;
}

.contact-form input, .contact-form textarea{
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    text-transform: capitalize;
    color: #fff;
    padding: 5px 10px;
}


.form-submit-btn{
    background: #4b6176;
    color: #fff;
    text-transform: capitalize;
    padding: 15px 40px;
    display: block;
    margin: auto;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
h1{
    color:white;
    font-family: 'Quicksand', sans-serif;
}
p{
    color: white;
    font-family: 'Quicksand', sans-serif;
}
li{
    color:white;
    font-family: 'Quicksand', sans-serif;
}
h2{
    color:white;
    font-family: 'Quicksand', sans-serif;
}

h4{
    color:white;
    font-family: 'Quicksand', sans-serif;
}
